<nav class="bg-danger">
  <p>Navigation bar</p>

  <span>
    <button class="btn">
      <a routerLink="/landing-page"
         class="m-2 navigation-button"
         routerLinkActive="active-link">
        Landing-page</a>
    </button>
    <button class="btn">
      <a routerLink="/products"
         class="m-2 navigation-button"
         routerLinkActive="active-link">
        Products</a>
    </button>
    <button class="btn">
      <a routerLink="/tailboard"
         class="m-2 navigation-button"
         routerLinkActive="active-link">
        Tailboard</a>
    </button>
    <button class="btn">
      <a routerLink="/about"
         class="m-2 navigation-button"
         routerLinkActive="active-link">
        about</a>
    </button>
  </span>

</nav>
